.hexa {
    display: flex;
}

.hexa .hexa-polygon {
    width: 40vmin;
    height: 40vmin;
    background-size: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@media screen and (width <= 568px) {

    .hexagrid .row:first-child .hexa {
        box-pack: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        box-align: flex-start;
    }

    .hexagrid .row:last-child .hexa {
        box-pack: flex-end;
        justify-content: flex-end;
        align-items: flex-end;
        box-align: flex-end;
    }

    .hexagrid .row:last-child .hexa.right {
        box-pack: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        box-align: flex-start;
    }
}

@media screen and (width > 568px) {
    .hexagrid .row:last-child {
        margin-top: -10vmin;
    }

    .hexagrid .row:first-child .hexa {
        box-pack: center;
        justify-content: center;
        align-items: center;
        box-align: center;
    }

    .hexagrid .row:last-child .hexa {
        box-pack: flex-end;
        justify-content: flex-end;
        align-items: flex-end;
        box-align: flex-end;
    }

    .hexagrid .row:last-child .hexa.right {
        box-pack: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        box-align: flex-start;
    }
}
