#title {
  margin: 3vh;
  font-size: 12vmin;
  color: var(--violet);
}

/*#title .word span {
  display: inline-block;
  margin-right: 1vmin;
  margin-left: 1vmin;
  opacity: 0;
}*/

#title {
  opacity: 0;
}

#title .studio:last-of-type {
  margin-left: 3vmin;
  font-weight: bold;
  display: inline-block;
}
