#title {
  margin: 3vh;
  font-size: 12vmin;
  color: var(--violet);
}

/*#title .word span {
  display: inline-block;
  margin-right: 1vmin;
  margin-left: 1vmin;
  opacity: 0;
}*/

#title .word {
  margin-right: 1.5vmin;
  opacity: 0;
}

#title .studio {
  margin-left: 1.5vmin;
  font-weight: bold;
  display: inline-block;
  opacity: 0;
}
