@import '../components/logo';
@import '../components/title';

.hero {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero nav {
  opacity: 0;
}

.hero [role=navigation] li {
  font-size: 4vmin;
  margin: 1vw;
}

.hero [role=navigation] li a{
  text-decoration: none;
  color: var(--violetDark);
  font-weight: 100;
}
