<html>
  <title>Geut Studio</title>
  <meta property="og:title" content="Geut Studio">
  <meta name="description" content="Custom JS Software Development Team. Code with opinions.">
  <meta property="og:description" content="Custom JS Software Development Team. Code with opinions.">
  <meta property="og:image" content="https://geutstudio.com/images/logo.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/resources/favicon.ico">
  <link href="/resources/css/main.css" media="all" rel="stylesheet" type="text/css">
  <link href="/resources/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <link href="/resources/css/gridlex.min.css" media="all" rel="stylesheet" type="text/css">
  <body>
      {{{ content }}}
      {{> footer}}
      <script type="text/javascript" src="/resources/js/index.js"></script>
  </body>
</html>
