/* -- FOOTER -- */

footer {
  background: var(--violetDark);
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 10px;
  color: #fff;
}

footer > .container {
  width: 80vw;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 200;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid white;
}

footer ul li:last-child {
  border: none;
  margin: 0px;
}

footer .notes {
  text-transform: uppercase;
}

footer .notes .geut {
  font-size: 14px;
  font-weight: bold;
  color: var(--green);
}

footer a:link,
footer a:visited { color: #fff; }
footer a:hover   { color: var(--green); font-weight: bold; }
footer a:active  {
  color: var(--green);
  font-weight: bold;
}
footer a {
  color: #fff;
  font-size: 14px;
}
