body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.geut {
    font-family: 'ETH Sans';
}

blockquote p {
    border-left: 5px solid #e0e0e0;
}


/* -- NAV -- */

body>nav[role=navigation] {
    display: none;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
}

nav[role=navigation] ul li {
    list-style: none;
    display: inline-block;
}
