  @font-face {
    font-family: "ETH Sans";
    src: url("../fonts/eth-sans/EthRomainEthon.ttf");
    font-weight: lighter;
  }

  @font-face {
    font-family: "ETH Sans";
    src: url("../fonts/eth-sans/EthBlackEthon.ttf");
    font-weight: bold;
  }
