@import './fonts';
@import './components/hero';
@import './components/footer';

body {
   font-family: 'Helvetica Neue', sans-serif;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.geut {
  font-family: 'ETH Sans';
  color: #4F5186;
}

blockquote p {
  border-left: 5px solid #e0e0e0;
}

/* -- NAV -- */

body > nav[role=navigation] {
  display: none;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
}

nav[role=navigation] ul li {
  list-style: none;
  display: inline-block;
}

/* -- SECTIONS -- */

section:not(.hero) {
  min-height: 100vh;
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  padding: 40px;
}

section:not(.hero):nth-child(2n)  {
  background-color: #fafafa;
  /*background-image: linear-gradient( 0deg, white, #f0f0f0 )*/
}

section:not(.hero) > * {
  width: 70vw;
  margin: auto;
}

section:not(.hero) > header {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 150px;
}

section:not(.hero) > header h1 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0 0 30 0;
}

section:not(.hero) > header  h2 {
  font-weight: 200;
  margin: 0;
  font-size: 1em;
  padding: 0;
}

section:not(.hero) > h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8em;
  padding: 50px;
}

section:not(.hero) > h2 {
  margin-top: -50px;
  padding: 25px;
}

section:not(.hero) li {
    list-style: none;
}

section.about {
  text-align: left;
}

section.about header {
  margin-bottom: 0;
}

section.about ul {
  overflow: hidden;
  padding: 0;
  margin-top: -100px;
}

section.about li {
  float: left;
  width: 50%;
  height: 70%;
  overflow: hidden;
  position: relative;
  color: white;
}

section.about li h1 {
  background: rgba(18,18,18, .3);
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

section.about li h2 {
  background: rgba(18,18,18, .3);
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
}

section.about li p {
  background: rgba(18,18,18, .3);
  font-size: 16px;
  padding: 10px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

section.about ul:before {
  content: ' ';
  float: left;
  width: 50%;
  height: 70%;
  display: block;
}

section.about li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
