@import './fonts.css';

body {
   font-family: 'Helvetica Neue', sans-serif;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

/* -- FOOTER -- */

footer {
  padding: 64px 32px 32px;
  background: rgba(43, 43, 83, 1);
  color: #eee;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

footer img {
  height: 80px;
}

footer .notes {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
}

footer .geut {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}


body > nav[role=navigation] {
  display: none;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
}

nav[role=navigation] ul li {
  list-style: none;
  display: inline-block;
}

.geut {
  font-family: 'ETH Sans';
}

/* -- HERO -- */
.hero {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.hero img.logo {
  height: 50vh;
  padding: 5vh;
}

.hero .geut {
  font-size: 15vh;
  margin: 3vh;
}

.hero .geut span {
  font-weight: bold;
}

.hero [role=navigation] li {
  font-size: 4vh;
  margin: 1vw;  
}

.hero [role=navigation] li a{
  text-decoration: none;
  color: rgba(43, 43, 83, 1);
  font-weight: 100;
}

/* -- SECTIONS -- */

section:not(.hero) {
  min-height: 100vh;
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  padding: 40px;
}

section:not(.hero):nth-child(2n)  {
  background-color: #fafafa;
  /*background-image: linear-gradient( 0deg, white, #f0f0f0 )*/
}

section:not(.hero) > * {
  width: 70vw;
  margin: auto;    
}

section:not(.hero) > h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8em;
  padding: 50px;
}

section:not(.hero) > h2 {
  margin-top: -50px;
  padding: 25px;
}

section:not(.hero) blockquote p {
    color: rgba(43, 43, 83, 1);
    font-size: 1.75em;
    font-style: italic;
    font-weight: normal;
}
