<div class="hexagrid grid-center">
  <div class="col">
    <div class="grid-center">
      <div class="col-3">
        {{>hexagrid/hexa image='https://pbs.twimg.com/profile_images/709043762530484224/UVrRVPGx.jpg' }}
      </div>
      <div class="col-3">
        {{>hexagrid/hexa image='https://pbs.twimg.com/profile_images/754780261628477444/x3x7qd9B.jpg' }}
      </div>
      <div class="col-3">
        {{>hexagrid/hexa image='https://pbs.twimg.com/profile_images/723557592086249472/GWX66stu.jpg' }}
      </div>
    </div>
    <div class="grid second-row">
      <div class="col-3">
        {{>hexagrid/hexa text='hola como andas todo bien? bueno que bueno me alegro mucho' }}
      </div>
      <div class="col-3">
        {{>hexagrid/hexa text='hola como andas todo bien? bueno que bueno me alegro mucho' }}
      </div>
      <div class="col-3">
        {{>hexagrid/hexa text='hola como andas todo bien? bueno que bueno me alegro mucho' }}
      </div>
    </div>
  </div>
</div>
