<footer>
  <div class="container">
    <div class="grid-3-center-middle">
      <div class="col-4_md-5_sm-12 text-center notes">&copy; 2016 <span class="geut">Geut Studio.</span> All rights reserved.</div>
      <div class="col-4_md-2_sm-12 text-center logo">
        <img src="/resources/images/logo.png" alt="Geut Logo" width="80px"/>
      </div>
      <nav class="col-4_md-5_sm-12 text-center">
        <ul>
          <li>
            <a href="https://github.com/{{ github }}" title="GitHub account {{ github }}" target="_blank" rel="nofollow">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/{{ twitter }}" title="Twitter account {{ twitter }}" target="_blank" rel="nofollow">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="mailto:contact@geutstudio.com" title="Contact email">contact@geutstudio.com</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
