<div class="grid-middle hexagrid">
  <div class="col">
    <div class="row grid">
      <div class="col-6_md-12" data-push-left="off-5_md-0">
        {{> hexagrid/hexa team.[0] }}
      </div>
    </div>
    <div class="row grid-center">
      <div class="col-6_md-12">
        {{> hexagrid/hexa team.[1] reverse=true}}
      </div>
      <div class="col-6_md-12">
        {{> hexagrid/hexa team.[2] }}
      </div>
    </div>
  </div>
</div>
